body {
	background-image: url("../images/food.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #1980FF;
	line-height: 34px;
	text-align: center;
}
.visible {
	margin: 10px;
}
.hidden {
	display: none;
}

.warning {
	color: red;
}
